<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Total</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Booking.Client.FullName</td>
                <td>@item.TotalAmount</td>
                <td>@item.PaymentStatus</td>
                <td>
                    <a asp-action="Pay" asp-route-id="@item.BillingID" class="btn btn-success">Pay</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>